@use "../../assets/scss/variables" as variables;

$indicator-height: 3px;

.scroll-tracker {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  height: $indicator-height;
  background-color: unset;
  z-index: 15;

  &__indicator {
    width: 0;
    transition: width 0.5s linear;
    height: $indicator-height;
    background-color: variables.$brand-color;
  }
}

.body--modal-open {
  .scroll-tracker {
    display: none;
  }
}
