@use "../../assets/scss/variables" as variables;
@use "../../assets/scss/mixins/container" as container;
@use "../../assets/scss/responsive" as responsive;

.music{
  &__list {
    list-style: none;
    margin-top: 2rem;

    img {
      width: 150px;
      border-radius: 25px;
      border: 4px solid #ccc;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      line-height: 1.4;

      &-title {
        font-size: 1.8rem;
      }
    }

    li {
      a {
        display: flex;
        gap: 2rem;
        color: #fff;

        &:hover {
          opacity: 0.9;
          text-decoration: none;
        }
      }
    }
  }

  &__hero {
    height: 450px;
    margin-bottom: 4rem;
    overflow: hidden;
    position: relative;
    max-height: 80vh;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
      background-color: rgba(0 0 0 / 50%);
      background-image: url("/assets/images/grid.gif");
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      z-index: 0;
      background: linear-gradient(0deg,rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);
      top: 0;
      width: 100%;
    }

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    &-content {
      z-index: 3;
      padding: 20px;
      position: absolute;
      width: 100%;
      bottom: 2rem;
      font-size: 3rem;

      & {
        @include container.container();
      }

      & {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      img {
        margin-bottom: 2rem;
      }

      h2 {
        padding-top: 8px;
        font-size: 1.4rem;
        opacity: 0.9;
      }
    }
  }

  &__content {
    & {
      @include container.container();
    }

    & {
      display: flex;
      padding-bottom: 6rem;
    }

    &-1 {
      flex: 1;
      flex-grow: 1;
    }

    &-2 {
      max-width: 800px;

      h3 {
        margin-top: 2rem;
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: 0.2rem solid variables.$brand-color;
      }

      img {
        max-width: 220px;
        margin-bottom: 3rem;
      }

      p {
        font-size: 1.7rem;
        line-height: 1.8;
        margin-bottom: 1em;
      }
    }
  }
}
