@use "../../assets/scss/variables" as variables;
@use "../../assets/scss/mixins/container" as container;
@use "../../assets/scss/responsive" as responsive;

.home-page {
  &__hero {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 400px;
    color: #efefef;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0 0 0 / 50%);
      background-image: url("/assets/images/grid.gif");
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      z-index: 0;
      background: linear-gradient(0deg,rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);
      top: 0;
      width: 100%;
    }

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    &-content {
      z-index: 2;
      max-width: 800px;
      padding: 20px;

      h1 {
        position: absolute;
        left: -2000px;
      }

      img {
        margin-bottom: 2rem;
      }

      p {
        text-align: center;
        font-size: 1.4rem;
        opacity: 0.9;
      }
    }
  }

  &__content {
    & {
      color: #efefef;
      margin-top: 3rem;
      margin-bottom: 3rem;

      @include container.container();
    }

    section {
      padding-bottom: 5rem;
      text-align: center;

      h2 {
        display: inline-block;
        border-bottom: 2px solid variables.$brand-color;
        font-size: 3.8rem;
        margin-bottom: 4rem;
        padding-bottom: 4px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
      }

      p {
        line-height: 1.4;
        margin-bottom: 2rem;
      }
    }
  }
}

.new-release {
  margin-top: -10rem;
  z-index: 2;
  position: relative;

  &__intro {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding-bottom: 0 !important;

    &:after {
      height: 1rem;
      content: "";
      clear: both;
      display: block;
    }

    a {
      display: inline-block;
      text-align: right;
      background-color: variables.$brand-color;
      color: #fff;
      border-radius: 24px;
      float: right;
      padding: 1rem;
      font-size: 1.4rem;
    }
  }

  &__play-list {
    flex: 1;
    width: 100%;
  }

  article {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    align-items: flex-start;
    gap: 2rem;

    & {
      @include responsive.max-width(700) {
        flex-direction: column;
        gap: 3rem;
      }
    }

    .cover {
      border-radius: 25px;
      overflow: hidden;
      border: 4px solid #ccc;
      min-width: 100px;
      max-width: 290px;
      flex: none;
      width: auto;
      position: sticky;
      top: 80px;
      text-align: right;

      & {
        @include responsive.max-width(700) {
          top: 0;
          position: relative;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &__links {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    a {
      display: inline-flex;
      border: 1px solid rgba(255 255 255 / 70%);
      padding: 18px;
      border-radius: 25px;
      color: #fff;
      background-color: #000;

      &:hover {
        text-decoration: none;
        background-color: variables.$brand-color;
        box-shadow: 0 0 35px rgba(255 255 255 / 50%);
      }
    }

    &-wrapper {
      position: relative;
      padding-top: 4rem;
      margin-top: 2rem;

      &:before {
        content: '';
        height: 1px;
        display: inline-block;
        width: 75%;
        background-color: rgba(255 255 255 / 50%);
        position: absolute;
        transform: translate(-50%, -3rem);
      }
    }
  }
}
