@use "../../assets/scss/responsive" as responsive;
@use "../../assets/scss/variables" as variables;
@use "../../assets/scss/mixins/container" as container;

.head-menu {
  position: fixed;
  top: 0;
  padding: 20px 20px 16px 0;
  background-color: transparent;
  transition: background-color 0.5s ease;
  color: #fff;
  z-index: 15;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  left: 0;
  right: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    min-height: 30px;

    & {
      @include container.container();
    }

    & {
      @include responsive.max-width(700) {
        justify-content: center;
      }
    }
  }

  .head-menu__mobile-menu-trigger {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: 0;
    padding: 5px;
    top: 14px;
    display: none;

    @include responsive.max-width(700) {
      display: inline-block;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  img.logo {
    height: 30px;
    flex: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    left: -8000px;

    @include responsive.max-width(700) {
      position: unset;
      left: 0;
      opacity: 1;
    }
  }

  &--sticky {
    background-color: rgba(0 0 0 / 90%);

    img {
      opacity: 1;
      position: unset;
      left: 0;
    }
  }

  &__links {
    display: flex;
    gap: 1.8rem;

    a {
      text-decoration: none;
      color: #fff;
      position: relative;
      display: inline-block;
      font-size: 1.3rem;
      font-weight: 400;

      &.head-menu__links-mobile-logo {
        display: none;
      }

      &:after {
        content: '';
        bottom: -8px;
        background-color: variables.$brand-color;
        height: 2px;
        display: block;
        position: absolute;
        width: 100%;
        left: -100%;
        opacity: 0;
        transition: opacity 0.5s ease, left 0.5s ease;
        pointer-events: none;
      }

      &:hover {
        text-decoration: none;

        &:after {
          left: 0;
          opacity: 0.75;
        }
      }

      &.selected {
        &:after {
          left: 0;
          opacity: 1;
        }
      }
    }

    & {
      @include responsive.max-width(700) {
        overflow: hidden;
        flex-direction: column;
        background-color: #0c0c0c;
        position: fixed;
        right: -100%;
        left: unset;
        bottom: 0;
        width: 80vw;
        padding: 30px;
        overflow: auto;
        padding-bottom: 80px;
        transition: right 0.5s ease-in-out;

        a {
          font-size: 2.6rem;
          padding-bottom: 6px;

          &:before {
            content: "";
            display: block;
            height: 1px;
            background-color: rgba(255 255 255 / 25%);
            position: absolute;
            bottom: -8px;
            width: 100%;
          }

          &.head-menu__links-mobile-logo {
            display: block;

            &:before {
              display: none;
            }

            img {
              margin-left: auto;
              margin-right: auto;
              max-width: 200px;
              width: 40vw;
              margin-bottom: 2rem;
            }

            &:after {
              display: none !important;
            }
          }
        }
      }
    }
  }

  & {
    @include responsive.max-width(700) {
      display: flex;

      .head-menu__links {
        top: 0;
        position: fixed;
        //left: -1000vw;
      }
    }
  }
}

body {
  .menu {
    display: inline-block;
  }

  .close {
    display: none;
  }

  &.mobile-menu--open {

    .menu {
      display: none;
    }

    .close {
      display: inline-block;
    }

    @include responsive.max-width(700) {
      .head-menu__links {
        display: flex;
        right : 0;
        border-left: 1px solid rgba(255 255 255 / 50%);
        box-shadow: 40px 0 200px 50px rgba(240 72 122 / 50%);

        @media (prefers-color-scheme: dark) {
          box-shadow: 40px 0 200px 50px rgba(240 72 122 / 50%);
        }
      }
    }
  }
}
