@use '../assets/scss/mixins/container' as container;
@use '../assets/scss/variables' as variables;

@font-face {
  font-family: 'annieInBlack';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/ComforterBrush-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins';
  font-weight: normal;
  font-display: swap;
  font-style: italic;
  src: url(/fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'poppins';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(/fonts/Poppins-Bold.ttf) format('truetype');
}

body {
  background-color: variables.$background-color;

  h1 {
    font-family: 'annieInBlack';
    font-weight: normal;
    font-size: 6rem;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.page {
  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  &-content {
    padding-bottom: 3rem;
    position: relative;
    z-index: 1;

    &-container {
      @include container.container();
    }
  }
}

button.button--link {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: inline;
}

a, button.button--link {
  color: variables.$link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
  }
}

.button__default {
  border: 0;
  border-radius: 20px;
  margin: 0;
  padding: 1rem 2rem;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  background-color: #efefef;

  .material-icon {
    font-size: 1.8rem;
  }
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.word-break {
  overflow-wrap: break-word;
  word-break: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

b, strong {
  font-weight: 500
}
