@use "../../assets/scss/variables" as variables;
@use "../../assets/scss/mixins/container" as container;
@use "../../assets/scss/responsive" as responsive;

.footer {
  color: #efefef;
  overflow-x: hidden;
  background-color: #2c2c2c;
  padding-top: 5rem;

  &:before {
    content: "";
    display: block;
    z-index: -1;
    width: 500px;
    height: 500px;
    position: absolute;
    background-image: url("/assets/images/splatter__001.png");
    background-size: contain;
    top: -160px;
    left: -200px;
    opacity: 0.2;
    background-repeat: no-repeat;
  }

  &:after {
    content: "";
    display: block;
    z-index: 4;
    width: 700px;
    height: 700px;
    position: fixed;
    background-image: url("/assets/images/splatter__001.png");
    background-size: contain;
    bottom: -160px;
    right: -500px;
    opacity: 0.1;
    pointer-events: none;
    background-repeat: no-repeat;
  }

  &__coffee {
    padding: 18px;
    margin-top: 20px;
    background-color: variables.$brand-color;
    border-radius: 30px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;

    img {
      width: 20px;
    }

    &:hover {
      color: #fff;
    }
  }

  &__content {
    & {
      line-height: 1.5;
      font-size: 1.5rem;

      @include container.container();
    }

    &:after {
      content: "";
      display: block;
      z-index: 4;
      width: 700px;
      height: 700px;
      position: fixed;
      background-image: url("/assets/images/splatter__001.png");
      background-size: contain;
      bottom: -160px;
      left: -300px;
      opacity: 0.04;
      pointer-events: none;
      background-repeat: no-repeat;
    }

    &-socials {
      min-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & {
        @include responsive.max-width(700) {
          align-items: center;
          min-width: 100%;
        }
      }

      &-links {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-items: center;
        justify-content: flex-end;
        margin-top: 1rem;
        margin-bottom: 2rem;

        img {
          width: 45px;
        }
      }
    }

    &-about {
      a {
        margin-top: 1rem;
        display: inline-block;
        padding: 8px 15px 8px 15px;
        border-radius: 24px;
        color: #fff;
        background-color: variables.$brand-color;
        font-size: 1.3rem;

        & {
          @media (prefers-color-scheme: dark) {
            background-color: variables.$brand-color;
          }
        }
        &:hover {
          color: #fff;
        }


      }

      & {
        @include responsive.max-width(700) {
          text-align: center;
          margin-bottom: 2rem;
        }
      }
    }

    &-flex {
      display: flex;
      gap: 3rem;

      & {
        @include responsive.max-width(700) {
          flex-direction: column;
          gap: 3rem;
        }
      }

      h3 {
        display: inline-block;
        margin-bottom: 12px;
        padding-bottom: 4px;
        border-bottom: 1px solid variables.$brand-color;
        font-size: 1.8rem;

        @media (prefers-color-scheme: dark) {
          background-color: variables.$brand-color;
        }
      }
    }
  }

  &__copy {
    & {
      font-size: 1.4rem;
      @include container.container();
    }

    & {
      line-height: 1.4;
      border-top: 1px solid rgba(255 255 255 / 30%);
      margin-top: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      background-color: #424242;

      a {
        color: #c5c5c5;
      }
    }
  }
}
